body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.secs {
  position: absolute;
  top: 60%;
  left: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.loader::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 30px auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
